<a href="https://colab.research.google.com/github/abdulsaboor8166/practice/blob/main/practicals_abdulsaboor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print ( "question1" ) 
name ="abdul saboor" 
print ( "my name" , name);

question1
my name abdul saboor

In [ ]:
print("question2")
# question 2 : program  to show literal contants :
str1="abdul"
str2=" saboor"
print(str1+str2)

question2
abdul saboor
question13

In [ ]:
print("question3")
#question 3 : write a program to show the numbers 
num1= input("enter a number :")
num1=int(num1)
num2= input("enter a number :")
num2=int(num2)
print("\naddition",num1+num2,"\nsubstraction",num1-num2,"\nmultiplication",num1*num2,"\ndivision",num1+num2,"\nmodulus",num1%num2)

question3
enter a number :34
enter a number :56

addition 90
substraction -22
multiplication 1904
division 90
modulus 34

In [ ]:

print("question4")
#question 4 : write a program to show variable and basic data types
num = 34
string= "zara"
float_point=3.24
boolean=True
print(num)
print(string)
print(float_point)
print(boolean)
print(type(num))
print(type(string))
print(type(float_point))
print(type(boolean))

question4
34
zara
3.24
True
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
print("question5")
#question 5 : write a program to show string 
string = input("enter a string ")
print(string)

question5
enter a string zero
zero

In [ ]:
print("question 6")
#question 6 : write a program to show escape sequence
print("hello world \nwelcome to \"python\"")
print("you can use COLAB\\VS CODE\\OTHER IDE")

question 6
hello world
welcome to "python"
you can use COLAB\VS CODE\OTHER IDE

In [ ]:
print("question 7")
#question 7 : write a program to show operator and exopression
num1=35;
num2=45;
str1="abdul"
str2="saboor"
print(num1,"+",num2,"=",num1+num2)
print(str1,"+",str2,"=",str1+str2)
print(str1,"+",num1,"=",str1,num1)

question 7
35 + 45 = 80
abdul + saboor = abdulsaboor
abdul + 35 = abdul 35

In [ ]:
print("question 8")
#question 8 : write a program to show evaluation order
#bodmas
length = input("enter length ")
length = int(length)
breath = input("enter breath ")
breath = int(breath)
area = length*breath
perimeter = 2*(length+breath)
print("the area of rectangle with \n length :",length,"\nbreath :",breath,"\n area :",area)
print("the perimeter of rectangle with \n length :",length,"\nbreath :",breath,"\n per1imeter :",perimeter)

In [ ]:
print("question 8 :")
# white a program to show the indentation

print("hello           world")
print("hello    /n       world")
print("hello      //     world")

hello           world
hello    /n       world
hello      //     world
hello           world

In [ ]:
name ="saboor"
print(name)
print(len(name))

saboor
6

In [ ]:
print("question 9")
#question 9 : write a program to show the input
num=input("enter a number :")
num= int(num);
float_num=input("enter a float number :")
float_num= float(float_num);
string=input("enter a string :")

boolean=input("enter a boolean :")
boolean= bool(boolean);
print("the number you enter :",num)
print("the float number you enter :",float_num)
print("the string you enter :",string)
print("the boolean you enter :",boolean)

question 9
enter a number :3
enter a float number :54
enter a string :dsf
enter a boolean :True
the number you enter : 3
the float number you enter : 54.0
the string you enter : dsf
the boolean you enter : True

In [ ]:
print("question 10")
#question 10 : write a program to show the ouput
num=input("enter a number :")
num= int(num);
float_num=input("enter a float number :")
float_num= float(float_num);
string=input("enter a string :")

b0oolean=input("enter a boolean :")
9boolean= bool(boolean);
print("the number you enter :",num)
print("the float number you enter :",float_num)
print("the string you enter :",string)
print("the boolean you enter :",boolean)

In [ ]:
def add(a,b):
 
 c=a,b
 
 print(c)
add()
add()

5
5

In [ ]:
print("question 9 :")
#write a code to show comment
# keywprd use to make comment
"""
  hello 
  this is 
  multi line 
  comment
"""

question 9 :

'\n  hello \n  this is \n  multi line \n  comment\n'

In [ ]:

x= 2+5j
y= 3
print(x)

(2+5j)

In [ ]:
#list in python:
name_list=["saboor","pawan","Almas"]
print(name_list)
roll_no_list=["01","02",3]
print(type(roll_no_list))
i=0
while i < 3:
 print(roll_no_list[i]+"\t"+name_list[i]+"\t")
 i+=1
print(type(roll_no_list[0]))

['saboor', 'pawan', 'Almas']
<class 'list'>
01	saboor
02	pawan

TypeError: ignored

In [ ]:
#question 1 :
#create a list :
print("question 1: creating and printting list :")
first_list=["aman","aditya","saboor","sahu","gupta"]
print(first_list)

question 14: creating and printting list :
['aman', 'aditya', 'saboor', 'sahu', 'gupta']

In [ ]:
#question 2 :
#create a list with duplicate members :
print("question 2: creating and printting list  with duplicate values :")
list_dupe=["saboor","aman","aman","apple","apple","hello","sahu"]
print(list_dupe)

question 15: creating and printting list  with duplicate values :
['saboor', 'aman', 'aman', 'apple', 'apple', 'hello', 'sahu']

In [ ]:
#question 3 :
#create a list and print its length :
print("question 3: creating a list and print its length :")
list_len =["apple","banana","mango","cherry","grapes"]
print(list_len)
print("The length of above list :",len(list_len))

question 16: creating a list and print its length :
['apple', 'banana', 'mango', 'cherry', 'grapes']
The length of above list : 5

In [ ]:
#question 4 :
#create a list with different data types :
print("question 4:create a list with different data types :")
list_diff_type =["apple",56,23.4556,True,"a"]
print(list_diff_type)
print(type(list_diff_type))

In [ ]:
#question 5 :
#create a list with different data types and show thier types :
print("question 5:create a list with different data types and print thier types :")
list_diff_type =["apple",56,23.4556,True,"a"]
print(list_diff_type)
print(type(list_diff_type))
print(list_diff_type[0],"=",type(list_diff_type[0]))
print(list_diff_type[1],"=",type(list_diff_type[1]))
print(list_diff_type[2],"=",type(list_diff_type[2]))
print(list_diff_type[3],"=",type(list_diff_type[3]))
print(list_diff_type[4],"=",type(list_diff_type[4]))

question 5:create a list with different data types and print thier types :
['apple', 56, 23.4556, True, 'a']
<class 'list'>
apple = <class 'str'>
56 = <class 'int'>
23.4556 = <class 'float'>
True = <class 'bool'>
a = <class 'str'>

In [ ]:
#question 6 :
#create a tuple :
print("question 6: create a tuple  :")
first_tuple=("apple","banana","mango")
print(first_tuple)

question 6:create a tuple  :
('apple', 'banana', 'mango')

In [ ]:
#question 7 :
#create a tuple with duplicate values :
print("question 7: create a tuple with duplicate values  :")
tuple_dupe=("apple","banana","mango","apple","banana","mango")
print(tuple_dupe)

question 6: create a tuple with duplicate values  :
('apple', 'banana', 'mango', 'apple', 'banana', 'mango')

In [ ]:
#question 8 :
#use length on tuple :
print("question 8: find tuple length  :")
tuple_len=("dog","cat","bird","monkey")
print(tuple_len)
print("the length of  tuple :",len(tuple_len))

question 8: find tuple length  :
('dog', 'cat', 'bird', 'monkey')
the length of  tuple : 4

In [ ]:
#question 9 :
#create a tuple with different data types :
print("question 9: create a tuple with different data types")
tuple_dif_type=("saboor",19,9.3,True)
print(tuple_dif_type)
print(type(tuple_dif_type))

question 9: create a tuple with different data types
('saboor', 19, 9.3, True)
<class 'tuple'>

In [ ]:
# questtion 10:
# create a tuple with differrent data types and print their types 
print("question10: create a tuple with different data types and print its types")
tuple_different_type=("saboor",19,9.3,True)
print(tuple_different_type)
print(tuple_dif_type[0] ,"=",type(tuple_dif_type[0]))
print(tuple_dif_type[1] ,"=",type(tuple_dif_type[1]))
print(tuple_dif_type[2] ,"=",type(tuple_dif_type[2]))
print(tuple_dif_type[3] ,"=",type(tuple_dif_type[3]))

('saboor', 19, 9.3, True)
saboor = <class 'str'>
19 = <class 'int'>
9.3 = <class 'float'>
True = <class 'bool'>

In [ ]:

# question 3: write a python program to convert given amount into smallest possible bank notes 
amount= int(input("enter the amount :"))
notes100=int(amount/100)
print(notes100)
amount=amount-notes100*100
notes50= int(amount/50)
print(notes50)
amount=amount-notes50*50
notes20= int(amount/20)
print(notes20)
amount=amount-notes20*20
notes10= int(amount/10)
print(notes10)
amount=amount-notes10*10
notes1= int(amount/1)
print(notes1)
print("\nnotes of 100 :",notes100,"\nnotes of 50 :",notes50,"\nnotes of 20 :",notes20,"\nnotes of 10 :",notes10,"\nnotes of 1 :",notes1)

enter the amount :1388
13
1
1
1
8

notes of 100 : 13
notes of 50 : 1
notes of 20 : 1
notes of 10 : 1
notes of 1 : 8

In [ ]:
# question 1: 
# create a setc
print("question 1: create a set")
asetOfNames ={"saboor","sahu","aman","prashun"}
print(asetOfNames)

question 1: create a set
{'aman', 'sahu', 'saboor', 'prashun'}

In [ ]:
# question 2 :
# create a set and try to print duplicatess values 
print("question 2: create a set and trying to print duplicate values :")
aSetOfDuplicate={"apple","banana","cherry ","mango","apple","banana","mango"}

print(aSetOfDuplicate)
print(" the vaues printed only 1 time because set does not allow duplicates item ")

question 2: create a set and trying to print duplicate values :
{'banana', 'cherry ', 'apple', 'mango'}
 the vaues printed only 1 time because set does not allow duplicates item

In [ ]:
# question 3 :
# create a set and print its length 
print("question  3: create a set and trying to print duplicate values :")
aset={"goat","cat","whale","bat","bat","dog"}
print(aset)
print("the length of above set :",len(aset))

question  3: create a set and trying to print duplicate values :
{'whale', 'dog', 'cat', 'goat', 'bat'}
the length of above set : 5

In [ ]:
# question 4 :
# create a set and check data types of set: 
print("question 4: create a set and check data types of set :")
num=34
msg="welcome to python"
decimalnum= 12.43
condition = True
asimpleset ={num,msg,decimalnum,condition}
print(asimpleset)
print(type(asimpleset))

question 4: create a set and check data types of its elements :
{True, 34, 12.43, 'welcome to python'}
<class 'set'>

In [ ]:
# question 5 :
# create a set and check data types of its elements: 
print("question 5: create a set and check data types of its elements :")
num=34
msg="welcome to python"
decimalnum= 12.43
condition = True

set_of_Datatypes={num,msg,decimalnum,condition}
print(set_of_Datatypes)
print(type(set_of_Datatypes))
print(type(num))
print(type(msg))
print(type(decimalnum))
print(type(condition))

question 5: create a set and check data types of its elements :
{True, 34, 12.43, 'welcome to python'}
<class 'set'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# question 6 :
# create a set and access its elemts: 
print("question 6: create a set and access its elemts :")
myset ={"car","ship","aeroplain","cycle","bike"}
for x in myset:
  print(x)

question 6: create a set and access its elemts :
cycle
bike
car
aeroplain
ship

In [ ]:
# question 7 :
# create a set and find a item item present in set or not: 
print("question 7: create a set and find a item item present in set or not :")
search_set={"apple","banana","cherry","mango","pinepaple","orange"}
result =input("enter the fruit name you want to search in the set :")
yes_its_their = False
for x in search_set:
  if x==result:
    yes_its_their = True
    break
  
if yes_its_their :
  print("yes its prresent in set")
else:
    print("no its prresent in set")

question 7: create a set and find a item item present in set or not :
enter the fruit name you want to search in the set :aeroplain
no its prresent in set

In [ ]:
# question 8 :
# create a set then add a item to the set: 
print("question 8: create a set then add a item to the set :")
oldset={"monkey","goat","sheep"}
print("oldset :",oldset)
oldset.add("cow")
oldset.add("donkey")
print("after adding item :",oldset)

question 7: create a set then add a item to the set :
oldset : {'goat', 'sheep', 'monkey'}
after adding item : {'goat', 'cow', 'monkey', 'donkey', 'sheep'}

In [ ]:
# question 9 :
# create a 2 set then add them to create one set: 
print("question 9: create a set then add them to create one set :")
set1={"saboor","aman","aditya"}
set2={"prashun","asif","niteesh"}
print("set1 :",set1)
print("set2 :",set2)
set1.update(set2)

print("after adding set1 and set2 : ",set1)

question 9: create a set then add them to create one set :
set1 : {'aman', 'saboor', 'aditya'}
set2 : {'asif', 'niteesh', 'prashun'}
after adding set1 and set2 :  {'aman', 'asif', 'saboor', 'prashun', 'niteesh', 'aditya'}